<% obj.each do |user| %>
<ul class="listing">
    <div class="row no-marg">
        <div class="well col-md-12">
            <div class="col-md-2"><img src="<%= user.profile.avatar.url %>" alt="" style="max-width:100%;" /></div>
            <div class="col-md-10">
                <div class="user">
                    <div><%= link_to "#{user.profile.first_name} #{user.profile.last_name}", user_path(user) %></div>
                </div>
                <% if current_user %>
                <%= link_to 'Send Message', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-primary send-message' %>
                <% else %>
                <p><%= link_to "Sign Up to Contact", new_user_registration_path, class: 'btn btn-primary'  %></p>
                <% end %>
            </div>
        </div>
    </div>
</ul>
<% end %>