<h1 class="center">Neighbors</h1>
<div class="center">
    <% @users.each do |user| %>
    <ul class="listing">
        <div class="row">
            <div class="well col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="user"><%= link_to user.email, user_path(user) %></div>
                    <div class="address">
                        <%#= user.address_1 %><br>
                        <small><%= pluralize(user.jobs.count, "job") if user.jobs %></small>
                    </div>
                    <p><button class="btn btn-primary send-message" data-toggle="modal" data-target="#message-modal">Message</button></p>
                    <% if current_user and current_user.admin? %>
                    <div class="actions">
                        <%= link_to "Delete user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user and all their jobs?" } %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <%= render partial: "message", locals: { user: user } %>
    </ul>
    <% end %>
</div>