<h1>About Us</h1>
<p>Neighbors helping Neighbors – by utilizing local retirees and stay at home moms/dads who want to advertise their skills and capabilities for hire to gain some extra income, keep their skills fresh, stay active and engage with others in their neighborhood.</p>

<p>Built by retirees and talented individuals who want to use their skills and capabilities to help neighbors and earn some additional income</p>

<p>This site is not for – companies but for talented and skilled neighbors.</p>

<p>The site is about the community helping each other.  With 30+ years professional business people we know what is it like to juggle your home, family, work and responsibilities, it is a comfort to know you can hire someone in your neighborhood to help you out.</p>