<h1>About Us</h1>
<p>Built by retirees and talented individuals who found themselves in a situation where they needed to
find a way to advertise their skills for hire within their own neighborhood. As a member of a
community blog site we saw the need daily from postings by our neighbors asking for references or
help to find someone to - paint baseboards, cabinet making, to interior decorating, to a request for a
tutor, someone to pick up their elderly mother or to help with pet and house sitting. We realized we
live in a neighborhood full of talented and skilled individuals who after retiring have some time on
their hands. So why not give them a platform to advertise in their own neighborhood, get to know
their neighbors, earn some extra income and create a community bond.</p>
<p>This site is not for – companies but for talented and skilled neighbors!</p>
<p>The site is about the community helping each other. With 30+ years professional business experience we know what it is like to juggle your home, family, work and responsibilities, it is a comfort to know you can hire someone in your neighborhood to help you out.</p>
<p>We hope you find this site of value and of use. We have a vision that this site will bring neighbors and the community closer together and one thing for sure – you know where they live.</p>

<h2>For Neighbors who need services</h2>
<p>This site provides one resource for a local neighborhood to find neighbors who can help you with small chores or provide a set of skills and consulting services – for example:</p>
<ul>
    <li>Small plumbing repairs</li>
    <li>Painting</li>
    <li>Cabinet refinishing</li>
    <li>Cake baking</li>
    <li>Sewing/mending</li>
    <li>Pet house sitting</li>
    <li>Consulting services</li>
</ul>