<h1>Frequently Asked Questions</h1>

<ol>
    <li>
        <label>Who is this website for?</label>
        <p>This website is focused on Retirees as well as stay home moms/dads, but of course any professional or skilled individual can sign up to sell their services.  It is set up for neighborhoods by zip codes and is for neighbors in that neighborhood who have skills and talents that they want to sell to their neighbors.  For example:  Handy man, sewing, teacher tutoring, consulting etc.</p>
    </li>
    <li>
        <label>Who is the website not for?</label>
        <p>This website is not for companies to create a profile page.  Companies can purchase advertising to promote their companies serving the community.</p>
    </li>
    <li>
        <label>What kind of experience do you need to sign up to be hired?</label>
        <p>This site is about neighbors helping neighbors – we expect everyone to be honest about their personal experience and this needs to be clearly explained on your profile page.  If you have years of working in one area of expertise, then state that on your profile page and take pictures of your work.  Also, have references you can provide to the neighbor who is considering hiring you.  You can also provide your LinkedIn information and resume to demonstrate your experience.</p>
    </li>
    <li>
        <label>Why use this site instead of Nextdoor?</label>
        <p>Nextdoor is an excellent neighborhood blog but it is not set up to help an individual promote their skills/talents.  This site is only focused on neighbors who want to promote their skills to their neighbors.  This a site to hire individuals not companies.  With the profile you can see reviews of their service, and the cost of their services.  Nextdoor does not have this capability.</p>
    </li>
    <li>
        <label>What kind of guarantee of work do I get if I use someone from this site?</label>
        <p>The price, scope of work, payment and guarantee is between the neighbor purchasing and the neighbor selling the service.  HireNeighbors.com does not verify the quality of work or skills of work - this is the responsibility of the neighbors to manage between them.</p>
    </li>
    <li>
        <label>Why this site?</label>
        <p>This site is a means to promote a neighbor’s service to other neighbors.  We help to locate neighbors with skills/talents you may need.  It provides a platform to advertise to other neighbors.</p>
    </li>
    <li>
        <label>How do I manage my taxes for the payments I receive?</label>
        <p>We suggest you talk with your personal accountant to determine how best to report your supplemental income.</p>
    </li>
</ol>