<h1>How it works</h1>

<p><label>Want to be hired in your neighborhood</label></p>
<ul>
    <li>Currently neighborhoods are set up by zip code and you can only sign up in the neighborhood you live in.</li>
    <li>To get started sign up create a profile page – fill out the template provided.  (No charge at this time, but this may change in the future.)</li>
    <li>Promote your page with neighbors by sending an e-mail and link to your page to them.</li>
    <li>When a neighbor wants to hire you – they will contact you directly via e-mail from this website. You can respond and discuss over e-mail the services/price and if you agree you will move forward.  All terms, agreements, scope and payment are the responsibility of the hired neighbor.</li>  
    <li>All payments will be managed directly by you and the neighbor who hires you.</li>  
</ul>

<p><label>Want to hire a neighbor?</label></p>
<ul>
    <li>Sign up and create a profile. Please note that you can only sign up in the neighborhood you live in.</li>
    <li>Search for services you may need.  If you do not find what you are searching, you can send out a notification to your neighbors signed up on this site asking if anyone can help you with the task at hand.</li> 
    <li>Want to purchase a service – contact the Neighbor for hire and work directly with them to discuss your project, you will need to agree on a price and a time line yourself. This can be done initially via e-mail or if you are comfortable move to a phone conversation and then agree to book the service.</li>
    <li>You are solely responsible for all negotiations, agreements and payment to the hired neighbor.</li>
</ul>