<h1>Welcome to Hire Neighbors</h1>

<p>A website designed to help Neighbors help Neighbors, by utilizing local retirees and stay at home moms/dads who want to advertise their skills and capabilities for hire and gain some extra income or to keep their skills fresh, stay active and engage with others in their neighborhood.</p>
<p>Our goal is to bring neighborhoods and communities together by matching neighbors who have skills and talents with neighbors who need those skills.  Wouldn’t it be nice to know more about your neighbors?  Please see talent examples below.</p> 
<p>Are you one of the millions of baby boomers reaching retirement age?   Are you concerned about the longevity of your retirement funds?</p>

<ul>
    <li>Do you want or need supplemental retirement income?</li> 
    <li>Do you want to continue to use your talents and skills developed over years of working?</li>
    <li>Do you have a hobby or a passion you want to be your second career?</li>
    <li>Do you NOT want to go back into a corporate job or even a part time job?</li>  
</ul>

<p>If so, this site is for you!!  Many retirees have great skills and talents grown during the years of working and your neighbors may need those talents.</p>

<p>Examples:</p>

<ul>
    <li>Retired teachers:  Can you offer tutoring services or to be a trusted driver to pick up your neighbor’s children after school</li>
    <li>Retired CPA, Lawyers etc., can you offer consulting services – to find the right lawyer or review of legal documents or just to help new entrepreneurs</li>
    <li>Retired marketing professionals:  Consulting or writing services for small business owners in the neighborhood</li>
    <li>Hobbies: Are you passionate about cake making or sewing, or are you a handy man and can help with small repairs around the house?</li>
    <li>Love animals – how about dog walking or house sitting and taking care of your neighbor’s pet.</li>
</ul>

<p>I think you get the idea, right? </p>

<p>This website can help you to market your skills to your neighbors and maybe even kick start a new career, but more importantly help you with a little bit of additional monthly income and help you to utilize and share the talent we have in our community.</p>
