/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

body {
background-color:#e7e7e7;}

.no-marg {
margin-right:0;
margin-left:0;}

#left-column .inner,
#right-column .inner {
background: #fff;
padding: 25px 15px;
border-radius: 5px;}

#left-column section {
margin-bottom:20px;}

#left-column h3 {
font-size:16pt;
margin:0 0 10px;
padding:0;}

#right-column h1 {
margin: 0 0 20px;
font-size: 22pt;}

ul.listing {
margin:0;
padding:0;}