/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

body {
background-color:#F4F4F7;
font-family: 'Lato', sans-serif;
-webkit-font-smoothing: antialiased;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {max-width:100%;}

h1 {
font-family: 'Oswald', sans-serif;
font-size: 30pt;
text-align: center;
text-shadow: 1px 1px 1px #ccc;}

h2 {    
font-family: 'Oswald', sans-serif;}

.req {color:#800000;}

.no-marg {
margin-right:0;
margin-left:0;}

.btn-primary {
padding: 10px 20px;
font-size: 11pt;
text-transform: uppercase;}

.form-row {
border-bottom: 1px solid #eaeaea;
padding: 20px 0;}

.form-row:last-child {border-bottom: none;}

.submit-container {text-align:center;}

.quote {font-family: 'Playfair Display', serif;}

section {margin-bottom:30px;}

section h3 {
margin-bottom:5px;}

section h4 {
margin: 0 0 20px;
font-weight: normal;
font-size: 12pt;}


/***** Header *****/

.navbar-default {
background-color: #3071A9;
border-color: #204C72;}

.navbar-default .navbar-brand {
color: #fff;
float: left;
padding: 0;
font-size: 24px;
line-height: 60px;
height: 60px;}

.navbar-default .navbar-brand:hover {color:#fff;}

#search-form {
float: left;
padding: 14px 0 0 30px;}

#search-form input {
height: 33px;
vertical-align: middle;}

#search-form .form-control {
display: inline-block;
width: 250px;}

.nav a,
.nav a.btn, 
.nav a.btn:visited {color:#fff}

.nav a.btn:hover,
.nav a.btn:active {color:#333}

.navbar-right li {vertical-align: top;}

.nav>li>a {font-size:10pt;}

#profile-info {
position:relative;
padding:5px 10px;}

#profile-info ul {
position:absolute;
top:-999em;
right:0;
background:#fff;
border:1px solid #ccc;
width:250px;}

#profile-info ul li:first-child {border-top:0;}

#profile-info ul li {
display: block;}

#profile-info ul li a {
display: block;
padding: 10px 16px;
color: #666;}

#profile-info ul li a:hover {
background:none;
text-decoration:none;
color:#000;}

#profile-info ul li a div {border-bottom: 1px solid #ccc;}

#profile-info:hover ul {top:44px;}

#profile-info img {
width: 35px;
height: 35px;
border-radius: 20px;}


/***** Index *****/

#hero-image {
margin-top: -20px;
background: url(/assets/hero-image.jpg) 0 -210px no-repeat;
background-size: 100% auto;
height: 470px;
position: relative;}

#hero-image #index-search {
background: rgba(30, 30, 30, 0.8);
padding: 30px 20px;
border-radius: 5px;
max-width: 450px;
text-align: center;
margin: 100px auto 0;
color:#fff;}

#hero-image #index-search h2 {
margin: 0;
padding: 0;
text-transform: none;
text-shadow: none}

#hero-image #index-search #search-form {
float: none;
padding: 0;
margin-top: 15px;}

#hero-image #index-search #search-form .btn {background: #3071A9;}

#left-column .inner,
#right-column .inner {
padding: 25px 15px;
border-radius: 3px;
border-bottom-color: rgba(0, 0, 0, 0.18);
border-radius: 3px;
margin-bottom: 8px;}

#right-column .inner {
padding: 25px;
background: #fff;
border: 1px rgba(0, 0, 0, 0.1) solid;}

#left-column section {
margin-bottom:20px;}

#left-column h3 {
font-size:16pt;
margin:0 0 10px;
padding:0;}

#left-column ul {
margin:0;
padding:0;
list-style:none;}

#left-column li a {
display:block;
padding:4px 0;
color:#666;}

#left-column li a:hover {
text-decoration: none;
background: #f9f9f9;
border-radius: 3px;
color: #666;}

#right-column h1 {
margin: 0 0 20px;}

#job-examples {
margin:20px 0;
padding:0;}

#job-examples:after {
display:block;
height:1px;
content:'';
clear:both;}

#job-examples li {
width: 19%;
text-align: center;
float: left;
list-style: none;
border: 2px solid #eaeaea;
border-radius: 5px;
padding: 15px;
min-height:250px;
margin:0 1% 15px 0;}

#job-examples li i {
display:block;
font-size: 40pt;
margin: 0 0 20px;
color: #bebebe;}

#job-examples li label {
display:block;
font-size: 14pt;
line-height: 16pt;
margin-bottom:15px;}

ul.listing {
margin:0;
padding:0;}

.users .user h4 {margin:0;}

.users .user .profile-pic {
text-align:center;
margin-bottom:15px;}

.users .user .profile-pic img {
width: 100px;
border-radius: 50%;}

.reviews .review h2 {margin-top:0}


/***** About *****/

.about .quote {
text-align: center;
font-size:18pt;
margin-bottom: 30px;}

.about .quote span {
display:block;
width:250px;
margin: 0 auto 20px;
border-bottom:1px solid #ccc;}


/***** Reviews *****/

.stars {
display: inline-block;
vertical-align: middle;}

.stars ul,
.reviews .review .stars {
background: url(/assets/rating_stars2.png) no-repeat 0 0;
height: 25px;
margin: 0;
padding: 0 0 0 3px;}

.reviews .review .stars {width:135px;}

.stars .stars-1 {
background-position: 0 -50px;
}

.stars .stars-2 {
background-position: 0 -100px;
}

.stars .stars-3 {
background-position: 0 -150px;
}

.stars .stars-4 {
background-position: 0 -200px;
}

.stars .stars-5 {
background-position: 0 -250px;
}

.stars li {
float: left;
height: 25px;
width: 26px;
overflow: hidden;}

.stars li input {
border: none;
margin: 0;
padding: 0;
width: 26px;
height: 25px;
-moz-opacity: 0;
opacity: 0;
filter: alpha(opacity=0);
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;}


/***** Edit Profile Page *****/

#profile-pic {margin-top: 20px;}


/***** User Profile Page *****/

#new_user h4,
#edit_user h4 {
text-transform: uppercase;
color: #a7a7a7;
margin: 0;
padding: 0;
font-size: 11pt;}

#profile-header {margin-bottom:20px;}

#profile-header h3 {
margin:0;
padding:0;}

.message {text-align:right;}

.review {margin-bottom:20px;}

.review h2 {font-size:14pt;}

.review .rating {margin-bottom:20px;}


/***** Conversations *****/

#conversations {
padding:0 15px;
border:solid #e7e7e7;
border-width:1px 1px 0 1px;}

#conversations .header {
background:#e7e7e7;
}

#conversations .header div,
#conversations .item div {
padding-top:5px;
padding-bottom:5px;}

#conversations .item div {border-bottom:1px solid #e7e7e7;}


/***** Footer *****/

footer {
margin-top: 30px;
border-top: 1px rgba(0, 0, 0, 0.1) solid;
padding: 20px 0;}