<h1 class="center">Listing All Categories</h1>

<div class="paginate"><%= will_paginate %></div>
<div id="category-list" class="listing">
    <div class="row">
        <% @categories.each do |category| %>
        <div class="well col-md-4">
            <div class="cat-title">
                <%= link_to "#{category.name}", category_path(category) %>
            </div>
            <div class="cat-users"><small><%= pluralize(category.users.count, "neighbor") %></small></div>
        </div>
        <% end %>
    </div>
</div>
<div class="paginate"><%= will_paginate %></div>