<h1 class="center">Create A Category</h1>

<%= render "/shared/errors", obj: @category %> 

<%= render partial: 'form' %>
<div class="col-xs-8 col-xs-offset-2">
    [ <%= link_to "Categories Home", categories_path %> ]
</div>