<h1 class="center"><%= "Category: " + @category.name %></h1>

<div class="center">
    <%= will_paginate @category_users %>
</div>

<%= render '/users/user', obj: @category_users %>

<div class="center"><%= will_paginate @category_users %></div>