<section class="lc-section" id="categories">
    <h3>Categories</h3>
    <ul>
        <% Category.all.each do |category| %>
        <li><%= link_to "#{category.name}", category_path(category) %></li>
        <% end %>
        <li><%= link_to "All Categories", categories_path %></li>
    </ul>
</section>

<section class="lc-section" id="directories">
    <h3>Directories</h3>
    <ul>
        <li><%= link_to "Neighbors", neighbors_path %></li>
    </ul>
</section>