<h2>Categories</h2>
<ul>
    <% Category.all.each do |category| %>
      <li><%= link_to "#{category.name}", category_path(category) %></li>
    <% end %>
    <li><%= link_to "All Categories", categories_path %></li>
</ul>

<h2>Directories</h2>
<%= link_to "Neighbors", users_path %><br>
<%= link_to "Jobs", jobs_path %>